@{
    Layout = null;
}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">



<link rel="stylesheet" href="~/css/index.css" />
<div class="overlay-navigation">
    <nav class="testview" role="navigation">
        <ul>
            <li><a href="@Url.Action("Index","Home")" data-content="The beginning">Home</a></li>
            <li><a href="@Url.Action("Index","Home")" data-content="Curious?">About</a></li>
            <li><a href="@Url.Action("ViewClinicList","Home")" data-content="Make Appointment?">Clinic</a></li>
            <li><a href="@Url.Action("Index","Home")" data-content="Only the finest">Doctor</a></li>
            <li><a href="@Url.Action("Index","Home")" data-content="Don't hesitate">Contact</a></li>
        </ul>
    </nav>
</div>
<h1><span>T</span>E<span>BEST</span> CLINIC APPOINTMENT PORTAL<span></span></h1>


<section class="home">


    <div class="layer">
        <div class="open-overlay">
            <span class="bar-top"></span>
            <span class="bar-middle"></span>
            <span class="bar-bottom"></span>
        </div>
    </div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>


<script type="text/javascript">

    var $ = jQuery;
    jQuery(document).ready(function ($) {
        $('.open-overlay').click(function () {

            $('.open-overlay').css('pointer-events', 'none');
            var overlay_navigation = $('.overlay-navigation'),
                top_bar = $('.bar-top'),
                middle_bar = $('.bar-middle'),
                bottom_bar = $('.bar-bottom');

            overlay_navigation.toggleClass('overlay-active');
            if (overlay_navigation.hasClass('overlay-active')) {

                top_bar.removeClass('animate-out-top-bar').addClass('animate-top-bar');
                middle_bar.removeClass('animate-out-middle-bar').addClass('animate-middle-bar');
                bottom_bar.removeClass('animate-out-bottom-bar').addClass('animate-bottom-bar');
                overlay_navigation.removeClass('overlay-slide-up').addClass('overlay-slide-down')
                overlay_navigation.velocity('transition.slideLeftIn', {
                    duration: 300,
                    delay: 0,
                    begin: function () {
                        $('nav ul li').velocity('transition.perspectiveLeftIn', {
                            stagger: 150,
                            delay: 0,
                            complete: function () {
                                $('nav ul li a').velocity({
                                    opacity: [1, 0],
                                }, {
                                        delay: 10,
                                        duration: 140
                                    });
                                $('.open-overlay').css('pointer-events', 'auto');
                            }
                        })
                    }
                })

            } else {
                $('.open-overlay').css('pointer-events', 'none');
                top_bar.removeClass('animate-top-bar').addClass('animate-out-top-bar');
                middle_bar.removeClass('animate-middle-bar').addClass('animate-out-middle-bar');
                bottom_bar.removeClass('animate-bottom-bar').addClass('animate-out-bottom-bar');
                overlay_navigation.removeClass('overlay-slide-down').addClass('overlay-slide-up')
                $('nav ul li').velocity('transition.perspectiveRightOut', {
                    stagger: 150,
                    delay: 0,
                    complete: function () {
                        overlay_navigation.velocity('transition.fadeOut', {
                            delay: 0,
                            duration: 300,
                            complete: function () {
                                $('nav ul li a').velocity({
                                    opacity: [0, 1],
                                }, {
                                        delay: 0,
                                        duration: 50
                                    });
                                $('.open-overlay').css('pointer-events', 'auto');
                            }
                        });
                    }
                })
            }
        })
    })
</script>

