@model IEnumerable<ddac7.Models.Clinic>
@{
    ViewData["Title"] = "ViewClinicList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clinic List</h2>

<form  style="margin-top: 10px;">
    <input type="text" name="SearchString" placeholder="Enter Clinic Name here to search..">
    <input type="submit" value="Search Clinic" />

</form>

<table class="table" border="1" style="margin-top: 80px;">
    <thead>
        <tr bgcolor="lightblue">
            <th>@Html.DisplayNameFor(model => model.ClinicName)</th>
            <th>@Html.DisplayNameFor(model => model.ContactNum)</th>
            <th>@Html.DisplayNameFor(model => model.ContactEmail)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClinicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    <a asp-action="ClinicDetails" asp-route-id="@item.Id">Details</a>
                </td>
                 <td>
                    <a asp-action="AddAppointment" asp-route-id="@item.Id">Make Appointment</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>

    input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 300px;
        background: #f1f1f1;
        border-radius: 2px;
    }

    input[type=submit] {
        float: left;
        width: 150px;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 2px;
    }

</style>