@model IEnumerable<ddac7.Models.Appointment>
@{
    ViewData["Title"] = "ViewCompletedRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment History</h2>

<table class="table" border="1">
    <thead>
        <tr bgcolor="lightblue">
            <th>Clinic</th>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Appointment DateTime</th>
            <th>Status</th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
        <tr>
            <td>
                @appointment.clinicName
            </td>
            <td>
                @appointment.RowKey
            </td>
            <td>
                @appointment.Name
            </td>
            <td>
                @appointment.Age
            </td>
            <td>
                @appointment.AppointmentDateTime
            </td>
            <td>
                @appointment.appStatus
            </td>
            <td>
                @using (Html.BeginForm("Feedback", "Home"))
                {
                    <div class="form-group">
                        <input type="hidden" name="clinicId" value="@appointment.PartitionKey" />
                        <input type="hidden" name="patientName" value="@appointment.Name" />
                        <input type="hidden" name="appId" value="@appointment.RowKey" />
                        <input type="submit" class="btn btn-default" value="Feedback" style="color:blue" />
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@if (TempData["message"] != null)
{
    <script>
		alert("@TempData["message"]");
    </script>
}