@model Microsoft.WindowsAzure.Storage.Table.TableResult
@{
    ViewData["Title"] = "GetSingle";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Result: </h2>

<table class="table" border="1">
    <thead>
        <tr bgcolor="lightblue">
            <th>Clinic</th>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Appointment DateTime</th>
            <th>Status</th>
            @if ((Model.Result as ddac7.Models.Appointment).appStatus == "Waiting for Approval")
            {
                <th></th>
                <th></th>
            }
        <tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @((Model.Result as ddac7.Models.Appointment).RowKey)
            </td>
            <td>
                @((Model.Result as ddac7.Models.Appointment).PartitionKey)
            </td>

            <td>
                @((Model.Result as ddac7.Models.Appointment).Name)
            </td>
            <td>
                @((Model.Result as ddac7.Models.Appointment).Age)
            </td>
            <td>
                @((Model.Result as ddac7.Models.Appointment).AppointmentDateTime)
            </td>
            <td>
                @((Model.Result as ddac7.Models.Appointment).appStatus)
            </td>
            @if ((Model.Result as ddac7.Models.Appointment).appStatus == "Waiting for Approval")
            {
                <td>
                    @{
                        var parms = new Dictionary<string, string>
                                                {
                                                    {"partitionkey", ((Model.Result as ddac7.Models.Appointment).PartitionKey) },
                                                    {"rowkey", ((Model.Result as ddac7.Models.Appointment).RowKey) }
                                                };
                    }
                    <a asp-area="" asp-controller="Clinic" asp-action="Approve" asp-all-route-data="parms"><button>Approve</button></a>
                </td>
                <td>
                    @{
                        var parms1 = new Dictionary<string, string>
                                                {
                                                    {"partitionkey", ((Model.Result as ddac7.Models.Appointment).PartitionKey) },
                                                    {"rowkey", ((Model.Result as ddac7.Models.Appointment).RowKey) }
                                                };
                    }
                    <a asp-area="" asp-controller="Clinic" asp-action="Reject" asp-all-route-data="parms1"><button>Reject</button></a>
                </td>
            }
        </tr>
    </tbody>
</table>

@if (TempData["message"] != null)
{
    <script>
		alert("@TempData["message"]");
    </script>
}