@model IEnumerable<ddac7.Models.Appointment>
@{
    ViewData["Title"] = "PendingAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewAppointmentRecord</h2>

<table class="table" border="1">
    <thead>
        <tr bgcolor="lightblue">
            <th>Clinic</th>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Appointment DateTime</th>
            <th>Status</th>
            <th></th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>
                    @appointment.clinicName
                </td>
                <td>
                    @appointment.RowKey
                </td>
                <td>
                    @appointment.Name
                </td>
                <td>
                    @appointment.Age
                </td>
                <td>
                    @appointment.AppointmentDateTime
                </td>
                <td>
                    @appointment.appStatus
                </td>
                <td>
                    @{
                        var parms = new Dictionary<string, string>
                                    {
                                        {"partitionkey", appointment.PartitionKey },
                                        {"rowkey", appointment.RowKey }
                                    };
                    }
                    <a asp-area="" asp-controller="Clinic" asp-action="Approve" asp-all-route-data="parms"><button>Approve</button></a>
                </td>
                <td>
                    @{
                        var parms1 = new Dictionary<string, string>
                                    {
                                        {"partitionkey", appointment.PartitionKey },
                                        {"rowkey", appointment.RowKey },
                                    };
                    }
                    <a asp-area="" asp-controller="Clinic" asp-action="Reject" asp-all-route-data="parms1"><button>Reject</button></a>
                </td>

            </tr>
        }
    </tbody>
</table>

@if (TempData["message"] != null)
{
    <script>
		alert("@TempData["message"]");
    </script>
}